name: build

on:
  push:
    branches: ['**']
    tags-ignore: ['**']

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: Build & Test
      run: |
        go build ./...
        go test -coverprofile=profile.cov ./...

    - name: Send Coverage
      uses: shogo82148/actions-goveralls@v1
      with:
        path-to-profile: profile.cov
